flows.json
[{"id":"64d6e928.196428","type":"tab","label":"Flow 1"},{"id":"bbc2a812.053728","type":"redis-config","z":"","host":"api-subte-redis","port":"6379","dbase":"0","pass":""},{"id":"ff76df18.867bf","type":"inject","z":"64d6e928.196428","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":220,"wires":[["80d76eda.d0071"]]},{"id":"6424d9a4.b64f88","type":"redis-command","z":"64d6e928.196428","server":"bbc2a812.053728","command":"flushall","name":"","topic":"","x":110,"y":300,"wires":[[]]},{"id":"80d76eda.d0071","type":"function","z":"64d6e928.196428","name":"","func":"msg.payload = []\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":260,"wires":[["6424d9a4.b64f88"]]},{"id":"dc1fb786.d131f8","type":"html","z":"64d6e928.196428","name":"Parseo","tag":"#status-line-A,#status-line-B,#status-line-C,#status-line-D,#status-line-E","ret":"html","as":"single","x":620,"y":173,"wires":[["c4e32e1a.c46e5"]]},{"id":"a43263ba.db598","type":"http request","z":"64d6e928.196428","name":"","method":"GET","ret":"txt","url":"http://www.metrovias.com.ar/","tls":"","x":630,"y":133,"wires":[["dc1fb786.d131f8"]]},{"id":"c4e32e1a.c46e5","type":"function","z":"64d6e928.196428","name":"","func":"msg.payload2 = {};\nmsg.payload2.linea_a = msg.payload[0];\nmsg.payload2.linea_b = msg.payload[1];\nmsg.payload2.linea_c = msg.payload[2];\nmsg.payload2.linea_d = msg.payload[3];\nmsg.payload2.linea_e = msg.payload[4];\nmsg.payload = msg.payload2;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":213,"wires":[["a2345686.a46cf8"]]},{"id":"91f7635.e804fa","type":"http response","z":"64d6e928.196428","name":"","statusCode":"","headers":{},"x":790,"y":253,"wires":[]},{"id":"c51eaefd.3dd34","type":"http in","z":"64d6e928.196428","name":"","url":"/subte","method":"get","upload":false,"swaggerDoc":"","x":112,"y":60,"wires":[["329ba8f0.2807c8"]]},{"id":"329ba8f0.2807c8","type":"function","z":"64d6e928.196428","name":"","func":"msg.refresco = \"600\";\nmsg.id_subte = \"subte\"; \nreturn msg;","outputs":1,"noerr":0,"x":110,"y":100,"wires":[["a8905338.d026d"]]},{"id":"a8905338.d026d","type":"function","z":"64d6e928.196428","name":"","func":"msg.payload = [msg.id_subte]; \nreturn msg;","outputs":1,"noerr":0,"x":261,"y":100,"wires":[["50ee3770.4c0068"]]},{"id":"3871fc63.975734","type":"switch","z":"64d6e928.196428","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":430,"y":140,"wires":[["a43263ba.db598"],["f270238d.28a8f"]]},{"id":"50ee3770.4c0068","type":"redis-command","z":"64d6e928.196428","server":"bbc2a812.053728","command":"get","name":"","topic":"","x":260,"y":140,"wires":[["3871fc63.975734"]]},{"id":"f270238d.28a8f","type":"http response","z":"64d6e928.196428","name":"","statusCode":"","headers":{},"x":430,"y":180,"wires":[]},{"id":"a0237eda.21e43","type":"function","z":"64d6e928.196428","name":"","func":"msg.payload = [msg.id_subte,msg.refresco,msg.payload];\nreturn msg;","outputs":1,"noerr":0,"x":604,"y":295,"wires":[["45292530.f240ac"]]},{"id":"45292530.f240ac","type":"redis-command","z":"64d6e928.196428","server":"bbc2a812.053728","command":"setex","name":"","topic":"","x":604,"y":335,"wires":[[]]},{"id":"a2345686.a46cf8","type":"json","z":"64d6e928.196428","name":"","pretty":false,"x":610,"y":253,"wires":[["a0237eda.21e43","91f7635.e804fa"]]}]