flows.json
[{"id":"64d6e928.196428","type":"tab","label":"Flow 1"},{"id":"bbc2a812.053728","type":"redis-config","z":"","host":"api-weather-redis","port":"6379","dbase":"0","pass":""},{"id":"8e6ee05d.e2d4a","type":"http in","z":"64d6e928.196428","name":"","url":"/clima","method":"get","upload":false,"swaggerDoc":"","x":260,"y":160,"wires":[["a4603c44.95268"]]},{"id":"f1832967.cbc258","type":"http response","z":"64d6e928.196428","name":"","statusCode":"","headers":{},"x":430,"y":360,"wires":[]},{"id":"982de551.3ef5f8","type":"http request","z":"64d6e928.196428","name":"api weather","method":"GET","ret":"txt","url":"http://api.openweathermap.org/data/2.5/weather?id={{{id_ciudad}}}&APPID={{{api_key}}}&units=metric","tls":"","x":1190,"y":180,"wires":[["e9d240a.7ecaac"]]},{"id":"68649181.7d00e","type":"switch","z":"64d6e928.196428","name":"ciudades","property":"payload.ciudad","propertyType":"msg","rules":[{"t":"eq","v":"bsas","vt":"str"},{"t":"eq","v":"ny","vt":"str"},{"t":"eq","v":"madrid","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":440,"y":200,"wires":[["96dc790f.09ba28"],["a73bd917.8526f8"],["22d4d5f1.fca8aa"],["7a3a524b.4c201c"]]},{"id":"7a3a524b.4c201c","type":"function","z":"64d6e928.196428","name":"otra","func":"msg.payload = '{\"error\":\"ciudad no disponible\"}';\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["1be87092.1b91ef"]]},{"id":"96dc790f.09ba28","type":"function","z":"64d6e928.196428","name":"bsas","func":"msg.id_ciudad = \"3433955\";\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":153,"wires":[["73457515.3f4ecc"]]},{"id":"a73bd917.8526f8","type":"function","z":"64d6e928.196428","name":"ny","func":"msg.id_ciudad = \"5128638\";\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":193,"wires":[["73457515.3f4ecc"]]},{"id":"22d4d5f1.fca8aa","type":"function","z":"64d6e928.196428","name":"madrid","func":"msg.id_ciudad = \"6359304\";\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":233,"wires":[["73457515.3f4ecc"]]},{"id":"a4603c44.95268","type":"function","z":"64d6e928.196428","name":"seteo variables","func":"msg.api_key = \"6e27aa26edc8553d1bf3e216d112a09c\";\nmsg.refresco = \"600\";//tiempo en segundos que mantiene la informacion de la api\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":200,"wires":[["68649181.7d00e"]]},{"id":"82e35555.f5f028","type":"function","z":"64d6e928.196428","name":"","func":"msg.payload2 = {};\nmsg.payload2.weather = msg.payload.weather;\nmsg.payload2.main = msg.payload.main;\nmsg.payload2.name = msg.payload.name;\nmsg.payload = msg.payload2;\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":267,"wires":[["a2653f52.f7a46"]]},{"id":"e9d240a.7ecaac","type":"json","z":"64d6e928.196428","name":"","pretty":false,"x":1190,"y":227,"wires":[["82e35555.f5f028"]]},{"id":"1be87092.1b91ef","type":"json","z":"64d6e928.196428","name":"","pretty":false,"x":430,"y":320,"wires":[["f1832967.cbc258"]]},{"id":"c8782b93.995228","type":"redis-command","z":"64d6e928.196428","server":"bbc2a812.053728","command":"setex","name":"","topic":"","x":1190,"y":400,"wires":[[]]},{"id":"b35a74ca.67f6c8","type":"function","z":"64d6e928.196428","name":"","func":"msg.payload = [msg.id_ciudad,msg.refresco,msg.payload];\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":360,"wires":[["c8782b93.995228"]]},{"id":"63a6b55c.5e32fc","type":"redis-command","z":"64d6e928.196428","server":"bbc2a812.053728","command":"get","name":"","topic":"","x":840,"y":260,"wires":[["52bf83dd.0c9c6c"]]},{"id":"73457515.3f4ecc","type":"function","z":"64d6e928.196428","name":"","func":"msg.payload = [msg.id_ciudad];\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":200,"wires":[["63a6b55c.5e32fc"]]},{"id":"e9346dbb.34433","type":"http response","z":"64d6e928.196428","name":"","statusCode":"","headers":{},"x":990,"y":340,"wires":[]},{"id":"52bf83dd.0c9c6c","type":"switch","z":"64d6e928.196428","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":990,"y":260,"wires":[["982de551.3ef5f8"],["911b5797.dfb058"]]},{"id":"911b5797.dfb058","type":"json","z":"64d6e928.196428","name":"","pretty":false,"x":990,"y":300,"wires":[["e9346dbb.34433"]]},{"id":"a2653f52.f7a46","type":"json","z":"64d6e928.196428","name":"","pretty":false,"x":1190,"y":309,"wires":[["b35a74ca.67f6c8","5f44a7.48616b58"]]},{"id":"ff76df18.867bf","type":"inject","z":"64d6e928.196428","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":260,"y":420,"wires":[["80d76eda.d0071"]]},{"id":"6424d9a4.b64f88","type":"redis-command","z":"64d6e928.196428","server":"bbc2a812.053728","command":"flushall","name":"","topic":"","x":250,"y":500,"wires":[[]]},{"id":"80d76eda.d0071","type":"function","z":"64d6e928.196428","name":"","func":"msg.payload = []\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":460,"wires":[["6424d9a4.b64f88"]]},{"id":"5f44a7.48616b58","type":"http response","z":"64d6e928.196428","name":"","statusCode":"","headers":{},"x":1350,"y":308,"wires":[]}]